In [21]:
import pickle

In [22]:
with open('user_data/models/uniqe-id/historic_predictions.pkl','rb') as f:
    model = pickle.load(f)

In [25]:
df=model['ETH/USDT:USDT']
df

,&-s_close,&-s_close_mean,&-s_close_std,do_predict,DI_values,close_price,date_pred
0,-2.679428e+09,0,0,0,0,1635.11,2023-09-07 07:48:00+00:00
1,-3.456488e+09,0,0,0,0,1635.43,2023-09-07 07:51:00+00:00
2,-3.455984e+09,0,0,0,0,1635.03,2023-09-07 07:54:00+00:00
3,-3.456007e+09,0,0,0,0,1635.16,2023-09-07 07:57:00+00:00
4,-3.452644e+09,0,0,0,0,1633.07,2023-09-07 08:00:00+00:00
...,...,...,...,...,...,...,...
995,5.379838e-04,0,0,0,0,1634.24,2023-09-09 09:33:00+00:00
996,-1.938014e-04,0,0,0,0,1635.41,2023-09-09 09:36:00+00:00
997,1.427150e-05,0,0,0,0,1635.07,2023-09-09 09:39:00+00:00
998,-4.723292e-05,0,0,0,0,1635.22,2023-09-09 09:42:00+00:00
999,2.931952e-04,0,0,0,0,1634.68,2023-09-09 09:45:00+00:00

In [10]:
categorical_columns = model.select_dtypes(include=['object'])

In [27]:
4800/66

72.72727272727273