In [35]:
import pickle

In [39]:
with open('user_data/models/uniqe-id/historic_predictions.pkl','rb') as f:
    model2 = pickle.load(f)

In [40]:
model2['BTC/USDT:USDT']

,&-ma_crossover_target,&-ma_crossover_target_mean,&-ma_crossover_target_std,do_predict,DI_values,close_price,date_pred
0,-1341.412698,0.000000,0.000000,0.0,0.00000,26566.9,2023-09-24 08:30:00+00:00
1,-1341.412698,0.000000,0.000000,0.0,0.00000,26568.5,2023-09-24 08:33:00+00:00
2,-1341.412698,0.000000,0.000000,0.0,0.00000,26570.8,2023-09-24 08:36:00+00:00
3,-1341.412698,0.000000,0.000000,0.0,0.00000,26566.5,2023-09-24 08:39:00+00:00
4,-1341.412698,0.000000,0.000000,0.0,0.00000,26566.7,2023-09-24 08:42:00+00:00
...,...,...,...,...,...,...,...
996,-1808.722222,0.000000,0.000000,0.0,0.00000,26215.6,2023-09-26 10:18:00+00:00
997,-2329.733333,0.000000,0.000000,0.0,0.00000,26231.7,2023-09-26 10:21:00+00:00
998,-2017.071429,0.000000,0.000000,0.0,0.00000,26230.5,2023-09-26 10:24:00+00:00
999,-249.729167,0.000000,0.000000,0.0,0.00000,26234.0,2023-09-26 10:27:00+00:00
1000,-400.126984,76.600111,2859.427295,1.0,0.17714,26237.1,2023-09-26 10:30:00+00:00

In [43]:
import pandas as pd
pd.read_csv(r'set_freqai_targets.csv')

,Unnamed: 0,date,open,high,low,close,volume,bb_lowerband-period_10_XRP/USDT:USDT_3m,bb_middleband-period_10_XRP/USDT:USDT_3m,bb_upperband-period_10_XRP/USDT:USDT_3m,...,%-rsi-period_20_XRP/USDT:USDT_3m,%-bb_width-period_10_shift-1_XRP/USDT:USDT_3m,%-rsi-period_10_shift-1_XRP/USDT:USDT_3m,%-bb_width-period_20_shift-1_XRP/USDT:USDT_3m,%-rsi-period_20_shift-1_XRP/USDT:USDT_3m,%-bb_width-period_10_shift-2_XRP/USDT:USDT_3m,%-rsi-period_10_shift-2_XRP/USDT:USDT_3m,%-bb_width-period_20_shift-2_XRP/USDT:USDT_3m,%-rsi-period_20_shift-2_XRP/USDT:USDT_3m,&-s_close
0,0,2023-09-24 11:15:00+00:00,0.5103,0.5105,0.5102,0.5104,599526.9,NaN,0.510367,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2023-09-24 11:18:00+00:00,0.5103,0.5105,0.5103,0.5105,312916.2,0.510296,0.510400,0.510504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2023-09-24 11:21:00+00:00,0.5105,0.5115,0.5104,0.5111,3392163.1,0.509834,0.510600,0.511366,...,NaN,0.000406,NaN,0.000406,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2023-09-24 11:24:00+00:00,0.5112,0.5113,0.5109,0.5109,976111.6,0.509922,0.510708,0.511494,...,NaN,0.002999,NaN,0.002999,NaN,0.000406,NaN,0.000406,NaN,NaN
4,4,2023-09-24 11:27:00+00:00,0.5110,0.5112,0.5108,0.5112,696724.4,0.510013,0.510780,0.511547,...,NaN,0.003079,NaN,0.003079,NaN,0.002999,NaN,0.002999,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,2023-09-26 13:00:00+00:00,0.4999,0.5001,0.4993,0.5001,2026648.9,0.499374,0.500003,0.500633,...,48.046603,0.002940,46.061417,0.005545,47.326832,0.003352,36.668269,0.005447,42.810660,NaN
996,996,2023-09-26 13:03:00+00:00,0.5001,0.5007,0.4998,0.5003,3198046.7,0.499392,0.499993,0.500595,...,49.499410,0.002517,47.503294,0.005736,48.046603,0.002940,46.061417,0.005545,47.326832,NaN
997,997,2023-09-26 13:06:00+00:00,0.5004,0.5010,0.4999,0.5003,2487386.2,0.499365,0.500030,0.500695,...,49.499410,0.002406,50.446946,0.005754,49.499410,0.002517,47.503294,0.005736,48.046603,NaN
998,998,2023-09-26 13:09:00+00:00,0.5002,0.5004,0.4999,0.5002,606993.4,0.499371,0.500043,0.500715,...,48.744248,0.002661,50.446946,0.005439,49.499410,0.002406,50.446946,0.005754,49.499410,NaN
999,999,2023-09-26 13:12:00+00:00,0.5001,0.5007,0.4998,0.5007,1529049.6,0.499386,0.500037,0.500688,...,52.553914,0.002688,48.759242,0.005028,48.744248,0.002661,50.446946,0.005439,49.499410,NaN

In [41]:
model2['ETH/USDT:USDT'][model2['ETH/USDT:USDT']['do_predict']==1]

,&-ma_crossover_target,&-ma_crossover_target_mean,&-ma_crossover_target_std,do_predict,DI_values,close_price,date_pred
1000,-69.669841,0.328392,168.619714,1.0,0.221173,1587.1,2023-09-26 10:30:00+00:00

In [ ]:
#  date     open     high      low    close    volume  ...  do_predict  DI_values  close_price                 date_pred   %-sma_50     %-ema_200
# 0   2023-09-21 09:21:00+00:00  26842.9  26869.4  26818.0  26863.7  2626.770  ...           0          0      26863.7 2023-09-21 09:21:00+00:00        NaN           NaN
# 1   2023-09-21 09:24:00+00:00  26863.7  26887.7  26833.0  26833.2  1066.975  ...           0          0      26833.2 2023-09-21 09:24:00+00:00        NaN           NaN
# 2   2023-09-21 09:27:00+00:00  26833.2  26852.4  26808.8  26810.6  1718.011  ...           0          0      26810.6 2023-09-21 09:27:00+00:00        NaN           NaN
# 3   2023-09-21 09:30:00+00:00  26810.7  26836.8  26757.7  26791.8  3600.315  ...           0          0      26791.8 2023-09-21 09:30:00+00:00        NaN           NaN
# 4   2023-09-21 09:33:00+00:00  26791.9  26830.0  26783.0  26797.9  1716.866  ...           0          0      26797.9 2023-09-21 09:33:00+00:00        NaN           NaN
# ..                        ...      ...      ...      ...      ...       ...  ...         ...        ...          ...                       ...        ...           ...
# 995 2023-09-23 11:06:00+00:00  26558.2  26558.2  26558.1  26558.1    15.351  ...           0          0      26558.1 2023-09-23 11:06:00+00:00  26556.864  26556.156221
# 996 2023-09-23 11:09:00+00:00  26558.2  26558.2  26553.0  26553.1    48.538  ...           0          0      26553.1 2023-09-23 11:09:00+00:00  26556.940  26556.125811
# 997 2023-09-23 11:12:00+00:00  26553.1  26553.1  26545.9  26546.0   121.890  ...           0          0      26546.0 2023-09-23 11:12:00+00:00  26556.796  26556.025056
# 998 2023-09-23 11:15:00+00:00  26545.9  26551.0  26545.9  26550.1    75.639  ...           0          0      26550.1 2023-09-23 11:15:00+00:00  26556.902  26555.966101
# 999 2023-09-23 11:18:00+00:00  26550.1  26550.1  26548.0  26548.1    61.103  ...           0          0      26548.1 2023-09-23 11:18:00+00:00  26556.874  26555.887831

In [ ]:
# date    open    high     low   close     volume  &-s_close  ...  %-sma_50  %-ema_200  enter_long  enter_tag  enter_short  exit_long  exit_short
# 0   2023-09-21 10:06:00+00:00  0.5069  0.5072  0.5066  0.5070  1587425.8          0  ...       NaN        NaN         NaN        NaN          NaN        NaN         NaN
# 1   2023-09-21 10:09:00+00:00  0.5071  0.5071  0.5068  0.5068  1555367.5          0  ...       NaN        NaN         NaN        NaN          NaN        NaN         NaN
# 2   2023-09-21 10:12:00+00:00  0.5069  0.5071  0.5066  0.5068  1377614.7          0  ...       NaN        NaN         NaN        NaN          NaN        NaN         NaN
# 3   2023-09-21 10:15:00+00:00  0.5067  0.5068  0.5054  0.5054  2675672.5          0  ...       NaN        NaN         NaN        NaN          NaN        NaN         NaN
# 4   2023-09-21 10:18:00+00:00  0.5055  0.5068  0.5051  0.5068  6024174.8          0  ...       NaN        NaN         NaN        NaN          NaN        NaN         NaN
# ..                        ...     ...     ...     ...     ...        ...        ...  ...       ...        ...         ...        ...          ...        ...         ...
# 994 2023-09-23 11:48:00+00:00  0.5117  0.5117  0.5116  0.5116   119897.8          0  ...  0.511650   0.511991         NaN        NaN          NaN        NaN         NaN
# 995 2023-09-23 11:51:00+00:00  0.5116  0.5125  0.5116  0.5124  2275890.3          0  ...  0.511654   0.511995         NaN        NaN          NaN        NaN         NaN
# 996 2023-09-23 11:54:00+00:00  0.5124  0.5124  0.5121  0.5123   634752.9          0  ...  0.511660   0.511998         NaN        NaN          NaN        NaN         NaN
# 997 2023-09-23 11:57:00+00:00  0.5123  0.5126  0.5123  0.5123   788834.1          0  ...  0.511668   0.512001         NaN        NaN          NaN        NaN         NaN
# 998 2023-09-23 12:00:00+00:00  0.5123  0.5125  0.5123  0.5124   439109.5          0  ...  0.511674   0.512005         NaN        NaN          NaN        NaN         NaN

In [22]:
model2['XRP/USDT:USDT']

,&s-up_or_down,down,up,down_mean,down_std,up_mean,up_std,do_predict,DI_values,close_price,date_pred
0,up,3.000001e-14,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.5140,2023-09-20 07:09:00+00:00
1,up,3.000001e-14,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.5138,2023-09-20 07:12:00+00:00
2,up,3.000001e-14,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.5135,2023-09-20 07:15:00+00:00
3,up,3.000001e-14,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.5149,2023-09-20 07:18:00+00:00
4,up,3.000001e-14,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.5157,2023-09-20 07:21:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...
997,down,7.468818e-01,0.253118,0.0,0.0,0.0,0.0,0.0,0.000000,0.5081,2023-09-22 09:00:00+00:00
998,down,7.532792e-01,0.246721,0.0,0.0,0.0,0.0,0.0,0.000000,0.5087,2023-09-22 09:03:00+00:00
999,down,7.518713e-01,0.248129,0.0,0.0,0.0,0.0,0.0,0.000000,0.5084,2023-09-22 09:06:00+00:00
1000,down,7.461361e-01,0.253864,0.0,0.0,0.0,0.0,0.0,0.000000,0.5083,2023-09-22 09:09:00+00:00
1001,down,7.466104e-01,0.253390,0.0,0.0,0.0,0.0,1.0,0.403158,0.5087,2023-09-22 09:12:00+00:00

In [23]:
model2['XRP/USDT:USDT'][model2['BTC/USDT:USDT']['do_predict']==1]

,&s-up_or_down,down,up,down_mean,down_std,up_mean,up_std,do_predict,DI_values,close_price,date_pred
1001,down,0.74661,0.25339,0.0,0.0,0.0,0.0,1.0,0.403158,0.5087,2023-09-22 09:12:00+00:00

In [21]:
model2['BTC/USDT:USDT']

,&-s_close,&-s_close_mean,&-s_close_std,do_predict,DI_values,close_price,date_pred
0,0.007242,0,0,0,0,25798.3,2023-09-10 11:21:00+00:00
1,0.007242,0,0,0,0,25803.6,2023-09-10 11:24:00+00:00
2,0.007242,0,0,0,0,25803.5,2023-09-10 11:27:00+00:00
3,0.007242,0,0,0,0,25806.9,2023-09-10 11:30:00+00:00
4,0.007242,0,0,0,0,25807.9,2023-09-10 11:33:00+00:00
...,...,...,...,...,...,...,...
995,-0.000168,0,0,0,0,26115.8,2023-09-12 13:06:00+00:00
996,-0.000168,0,0,0,0,26080.1,2023-09-12 13:09:00+00:00
997,-0.000168,0,0,0,0,26065.0,2023-09-12 13:12:00+00:00
998,-0.000168,0,0,0,0,26073.6,2023-09-12 13:15:00+00:00
999,-0.000168,0,0,0,0,26048.8,2023-09-12 13:18:00+00:00

In [1]:
import numpy as np
from sklearn.model_selection import train_test_split
from tpot import TPOTRegressor

# Generate some example data
np.random.seed(42)
X = np.random.rand(100, 5)  # 100 samples with 5 features
y = 2 * X[:, 0] + 3 * X[:, 1] + 0.5 * X[:, 2] + np.random.rand(100)  # Regression target

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train TPOTRegressor
tpot = TPOTRegressor(generations=5, population_size=20, verbosity=2, random_state=42)
tpot.fit(X_train, y_train)

# Evaluate the TPOT-optimized model on the test data
test_score = tpot.score(X_test, y_test)
print(f"Test score: {test_score}")

# Export the optimized pipeline as Python code
tpot.export('tpot_regression_pipeline.py')

Generation 1 - Current best internal CV score: -0.08909701328723625

Generation 2 - Current best internal CV score: -0.08893006326720035

Generation 3 - Current best internal CV score: -0.08888801884636147

Generation 4 - Current best internal CV score: -0.08870923523319531

Generation 5 - Current best internal CV score: -0.08870923523319531

Best pipeline: LinearSVR(RidgeCV(input_matrix), C=5.0, dual=False, epsilon=0.0001, loss=squared_epsilon_insensitive, tol=0.001)
Test score: -0.12383877130066334

In [5]:
tpot.fitted_pipeline_

Pipeline(steps=[('stackingestimator', StackingEstimator(estimator=RidgeCV())),
                ('linearsvr',
                 LinearSVR(C=5.0, dual=False, epsilon=0.0001,
                           loss='squared_epsilon_insensitive', random_state=42,
                           tol=0.001))])

In [4]:
tpot.predict(X)

array([3.50370491, 3.20089836, 2.45239659, 4.53767102, 3.62299215,
       5.18885042, 2.60215297, 3.45494225, 2.5561025 , 4.939393  ,
       3.32245134, 4.78629335, 4.40145606, 2.40728747, 3.7525569 ,
       4.67579962, 2.7013316 , 4.13354107, 2.01712795, 3.07006017,
       2.96620918, 4.74791334, 3.53299533, 4.76415816, 4.08394485,
       3.47705619, 1.34200765, 3.06412047, 4.25407365, 3.99962155,
       3.53089322, 3.56876942, 3.13573451, 2.1257884 , 2.66904689,
       5.15671671, 2.82189304, 2.73003507, 5.46101247, 1.07153632,
       5.04405148, 2.90995612, 2.61795886, 2.88993328, 4.05298956,
       3.97004387, 4.90274116, 4.63547084, 3.48226586, 3.34931139,
       2.70241408, 2.9051947 , 4.6584722 , 2.20815742, 3.38900329,
       4.70946184, 2.9975794 , 3.84061949, 3.29737696, 4.22813869,
       4.76415958, 4.45472578, 2.5441822 , 2.64560738, 3.62469055,
       3.31805486, 2.06479958, 2.83640906, 2.40635426, 1.66249575,
       4.37670451, 3.72025469, 3.34688316, 3.89399084, 3.78745711,
       2.8671927 , 3.556965  , 1.80080426, 2.80078298, 5.15494955,
       5.0388085 , 1.70724672, 3.6006535 , 3.6513786 , 4.41150737,
       3.3634672 , 2.51824022, 1.53472126, 2.40656452, 2.25727114,
       4.25443157, 3.86720326, 2.81126859, 2.16469139, 1.62848971,
       3.51680845, 3.15478579, 3.64276851, 2.02447268, 3.95605097])