In [19]:
import pickle

In [20]:
with open('user_data/models/uniqe-id/historic_predictions.backup.pkl','rb') as f:
    model2 = pickle.load(f)

In [21]:
model2['BTC/USDT:USDT']

,&-s_close,&-s_close_mean,&-s_close_std,do_predict,DI_values,close_price,date_pred
0,0.007242,0,0,0,0,25798.3,2023-09-10 11:21:00+00:00
1,0.007242,0,0,0,0,25803.6,2023-09-10 11:24:00+00:00
2,0.007242,0,0,0,0,25803.5,2023-09-10 11:27:00+00:00
3,0.007242,0,0,0,0,25806.9,2023-09-10 11:30:00+00:00
4,0.007242,0,0,0,0,25807.9,2023-09-10 11:33:00+00:00
...,...,...,...,...,...,...,...
995,-0.000168,0,0,0,0,26115.8,2023-09-12 13:06:00+00:00
996,-0.000168,0,0,0,0,26080.1,2023-09-12 13:09:00+00:00
997,-0.000168,0,0,0,0,26065.0,2023-09-12 13:12:00+00:00
998,-0.000168,0,0,0,0,26073.6,2023-09-12 13:15:00+00:00
999,-0.000168,0,0,0,0,26048.8,2023-09-12 13:18:00+00:00