In [7]:
import pickle

In [8]:
with open('user_data/models/uniqe-id/historic_predictions.pkl','rb') as f:
    model = pickle.load(f)

In [10]:
model

{}

In [22]:
model['BTC/USDT:USDT']

,&-s_close,&-s_close_mean,&-s_close_std,do_predict,DI_values,close_price,date_pred
0,0.640335,0,0,0,0,26200.0,2023-09-08 08:15:00+00:00
1,0.313325,0,0,0,0,26183.1,2023-09-08 08:18:00+00:00
2,-0.013020,0,0,0,0,26203.3,2023-09-08 08:21:00+00:00
3,-0.012833,0,0,0,0,26197.5,2023-09-08 08:24:00+00:00
4,-0.013037,0,0,0,0,26202.7,2023-09-08 08:27:00+00:00
...,...,...,...,...,...,...,...
995,-0.000250,0,0,0,0,25824.6,2023-09-10 10:00:00+00:00
996,0.000281,0,0,0,0,25811.4,2023-09-10 10:03:00+00:00
997,0.000360,0,0,0,0,25809.4,2023-09-10 10:06:00+00:00
998,0.000155,0,0,0,0,25814.6,2023-09-10 10:09:00+00:00
999,0.000083,0,0,0,0,25816.3,2023-09-10 10:12:00+00:00

In [23]:
model['BTC/USDT:USDT'].isnull().sum()

&-s_close         0
&-s_close_mean    0
&-s_close_std     0
do_predict        0
DI_values         0
close_price       0
date_pred         0
dtype: int64

In [1]:
3748/1920

1.9520833333333334