In [14]:
import pickle
with open('user_data/models/uniqe-id/historic_predictions.pkl','rb') as f:
    model = pickle.load(f)
model['BTC/USDT:USDT']

,&-sar,&-rsi,&-sma,&-sar_mean,&-sar_std,&-rsi_mean,&-rsi_std,&-sma_mean,&-sma_std,do_predict,DI_values,close_price,date_pred
0,27400.278114,51.507546,27404.005538,0,0,0,0,0,0,0,0,27492.4,2023-10-09 10:42:00+00:00
1,27415.580368,50.635602,27480.021359,0,0,0,0,0,0,0,0,27469.6,2023-10-09 10:45:00+00:00
2,27502.611225,50.347668,27504.214426,0,0,0,0,0,0,0,0,27529.7,2023-10-09 10:48:00+00:00
3,27501.357998,50.104654,27504.214426,0,0,0,0,0,0,0,0,27541.6,2023-10-09 10:51:00+00:00
4,27501.357998,50.635602,27504.214426,0,0,0,0,0,0,0,0,27527.1,2023-10-09 10:54:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,27480.179498,50.392117,27480.367290,0,0,0,0,0,0,0,0,27195.2,2023-10-11 12:27:00+00:00
996,27477.039459,49.563795,27480.367290,0,0,0,0,0,0,0,0,27151.6,2023-10-11 12:30:00+00:00
997,27477.851092,49.170186,27480.367290,0,0,0,0,0,0,0,0,27090.2,2023-10-11 12:33:00+00:00
998,27480.948048,48.553187,27480.367290,0,0,0,0,0,0,0,0,27041.8,2023-10-11 12:36:00+00:00
999,27472.053800,49.844863,27467.931944,0,0,0,0,0,0,0,0,27092.1,2023-10-11 12:39:00+00:00

In [12]:
model['ETH/USDT:USDT'][model['ETH/USDT:USDT']['do_predict']==1]

Empty DataFrame
Columns: [&-slowk, &-rsi, &-fisher_rsi, &-bb_lowerband, &-slowk_mean, &-slowk_std, &-rsi_mean, &-rsi_std, &-fisher_rsi_mean, &-fisher_rsi_std, &-bb_lowerband_mean, &-bb_lowerband_std, do_predict, DI_values, close_price, date_pred]
Index: []

In [ ]:
#  date     open     high      low    close    volume  ...  do_predict  DI_values  close_price                 date_pred   %-sma_50     %-ema_200
# 0   2023-09-21 09:21:00+00:00  26842.9  26869.4  26818.0  26863.7  2626.770  ...           0          0      26863.7 2023-09-21 09:21:00+00:00        NaN           NaN
# 1   2023-09-21 09:24:00+00:00  26863.7  26887.7  26833.0  26833.2  1066.975  ...           0          0      26833.2 2023-09-21 09:24:00+00:00        NaN           NaN
# 2   2023-09-21 09:27:00+00:00  26833.2  26852.4  26808.8  26810.6  1718.011  ...           0          0      26810.6 2023-09-21 09:27:00+00:00        NaN           NaN
# 3   2023-09-21 09:30:00+00:00  26810.7  26836.8  26757.7  26791.8  3600.315  ...           0          0      26791.8 2023-09-21 09:30:00+00:00        NaN           NaN
# 4   2023-09-21 09:33:00+00:00  26791.9  26830.0  26783.0  26797.9  1716.866  ...           0          0      26797.9 2023-09-21 09:33:00+00:00        NaN           NaN
# ..                        ...      ...      ...      ...      ...       ...  ...         ...        ...          ...                       ...        ...           ...
# 995 2023-09-23 11:06:00+00:00  26558.2  26558.2  26558.1  26558.1    15.351  ...           0          0      26558.1 2023-09-23 11:06:00+00:00  26556.864  26556.156221
# 996 2023-09-23 11:09:00+00:00  26558.2  26558.2  26553.0  26553.1    48.538  ...           0          0      26553.1 2023-09-23 11:09:00+00:00  26556.940  26556.125811
# 997 2023-09-23 11:12:00+00:00  26553.1  26553.1  26545.9  26546.0   121.890  ...           0          0      26546.0 2023-09-23 11:12:00+00:00  26556.796  26556.025056
# 998 2023-09-23 11:15:00+00:00  26545.9  26551.0  26545.9  26550.1    75.639  ...           0          0      26550.1 2023-09-23 11:15:00+00:00  26556.902  26555.966101
# 999 2023-09-23 11:18:00+00:00  26550.1  26550.1  26548.0  26548.1    61.103  ...           0          0      26548.1 2023-09-23 11:18:00+00:00  26556.874  26555.887831

In [ ]:
# date    open    high     low   close     volume  &-s_close  ...  %-sma_50  %-ema_200  enter_long  enter_tag  enter_short  exit_long  exit_short
# 0   2023-09-21 10:06:00+00:00  0.5069  0.5072  0.5066  0.5070  1587425.8          0  ...       NaN        NaN         NaN        NaN          NaN        NaN         NaN
# 1   2023-09-21 10:09:00+00:00  0.5071  0.5071  0.5068  0.5068  1555367.5          0  ...       NaN        NaN         NaN        NaN          NaN        NaN         NaN
# 2   2023-09-21 10:12:00+00:00  0.5069  0.5071  0.5066  0.5068  1377614.7          0  ...       NaN        NaN         NaN        NaN          NaN        NaN         NaN
# 3   2023-09-21 10:15:00+00:00  0.5067  0.5068  0.5054  0.5054  2675672.5          0  ...       NaN        NaN         NaN        NaN          NaN        NaN         NaN
# 4   2023-09-21 10:18:00+00:00  0.5055  0.5068  0.5051  0.5068  6024174.8          0  ...       NaN        NaN         NaN        NaN          NaN        NaN         NaN
# ..                        ...     ...     ...     ...     ...        ...        ...  ...       ...        ...         ...        ...          ...        ...         ...
# 994 2023-09-23 11:48:00+00:00  0.5117  0.5117  0.5116  0.5116   119897.8          0  ...  0.511650   0.511991         NaN        NaN          NaN        NaN         NaN
# 995 2023-09-23 11:51:00+00:00  0.5116  0.5125  0.5116  0.5124  2275890.3          0  ...  0.511654   0.511995         NaN        NaN          NaN        NaN         NaN
# 996 2023-09-23 11:54:00+00:00  0.5124  0.5124  0.5121  0.5123   634752.9          0  ...  0.511660   0.511998         NaN        NaN          NaN        NaN         NaN
# 997 2023-09-23 11:57:00+00:00  0.5123  0.5126  0.5123  0.5123   788834.1          0  ...  0.511668   0.512001         NaN        NaN          NaN        NaN         NaN
# 998 2023-09-23 12:00:00+00:00  0.5123  0.5125  0.5123  0.5124   439109.5          0  ...  0.511674   0.512005         NaN        NaN          NaN        NaN         NaN

In [22]:
model2['XRP/USDT:USDT']

,&s-up_or_down,down,up,down_mean,down_std,up_mean,up_std,do_predict,DI_values,close_price,date_pred
0,up,3.000001e-14,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.5140,2023-09-20 07:09:00+00:00
1,up,3.000001e-14,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.5138,2023-09-20 07:12:00+00:00
2,up,3.000001e-14,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.5135,2023-09-20 07:15:00+00:00
3,up,3.000001e-14,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.5149,2023-09-20 07:18:00+00:00
4,up,3.000001e-14,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.5157,2023-09-20 07:21:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...
997,down,7.468818e-01,0.253118,0.0,0.0,0.0,0.0,0.0,0.000000,0.5081,2023-09-22 09:00:00+00:00
998,down,7.532792e-01,0.246721,0.0,0.0,0.0,0.0,0.0,0.000000,0.5087,2023-09-22 09:03:00+00:00
999,down,7.518713e-01,0.248129,0.0,0.0,0.0,0.0,0.0,0.000000,0.5084,2023-09-22 09:06:00+00:00
1000,down,7.461361e-01,0.253864,0.0,0.0,0.0,0.0,0.0,0.000000,0.5083,2023-09-22 09:09:00+00:00
1001,down,7.466104e-01,0.253390,0.0,0.0,0.0,0.0,1.0,0.403158,0.5087,2023-09-22 09:12:00+00:00

In [23]:
model2['XRP/USDT:USDT'][model2['BTC/USDT:USDT']['do_predict']==1]

,&s-up_or_down,down,up,down_mean,down_std,up_mean,up_std,do_predict,DI_values,close_price,date_pred
1001,down,0.74661,0.25339,0.0,0.0,0.0,0.0,1.0,0.403158,0.5087,2023-09-22 09:12:00+00:00

In [21]:
model2['BTC/USDT:USDT']

,&-s_close,&-s_close_mean,&-s_close_std,do_predict,DI_values,close_price,date_pred
0,0.007242,0,0,0,0,25798.3,2023-09-10 11:21:00+00:00
1,0.007242,0,0,0,0,25803.6,2023-09-10 11:24:00+00:00
2,0.007242,0,0,0,0,25803.5,2023-09-10 11:27:00+00:00
3,0.007242,0,0,0,0,25806.9,2023-09-10 11:30:00+00:00
4,0.007242,0,0,0,0,25807.9,2023-09-10 11:33:00+00:00
...,...,...,...,...,...,...,...
995,-0.000168,0,0,0,0,26115.8,2023-09-12 13:06:00+00:00
996,-0.000168,0,0,0,0,26080.1,2023-09-12 13:09:00+00:00
997,-0.000168,0,0,0,0,26065.0,2023-09-12 13:12:00+00:00
998,-0.000168,0,0,0,0,26073.6,2023-09-12 13:15:00+00:00
999,-0.000168,0,0,0,0,26048.8,2023-09-12 13:18:00+00:00